source https://www.nuget.org/api/v2
nuget dapper
nuget discord.net
nuget FSharp.Control.AsyncSeq
nuget fsharp.core
nuget thoth.json.net
nuget microsoft.extensions.hosting
nuget microsoft.extensions.logging
nuget taskbuilder.fs
nuget simple.migrations
nuget system.data.sqlclient
nuget cronos
